install/
/application/config/database.php
session/
/application/config/database.php
application/config/database.php
cache/
uploads/
vendor/
logs/*
/application/logs/*.php
.DS_Store
Thumbs.db
*.log
*.bak
*.swp
*.swo
*.tmp
.idea/
.vscode/
*.~undo-tree~